<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="T100ETLSQLTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <T100ETLSQLTest.Properties.Settings>
            <setting name="txt_path" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_CompanyCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_OrgCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_APSCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_DBAccount" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_CompanyCode_value" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_OrgCode_value" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_APSCode_value" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_t100_db" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_t100_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_t100_pwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_t100_current_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_aps_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_aps_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_aps_pwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_aps_dbname" serializeAs="String">
                <value/>
            </setting>
            <setting name="check_query" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_winmerge" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_lang_value" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_lang" serializeAs="String">
                <value/>
            </setting>
        </T100ETLSQLTest.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
